<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
    <title>Ruby</title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <link rel="stylesheet" href="/confetti_cuisine.css" />
  </head>

  <body>
    <div id="nav">
      <div class="col-sm nav-align"><h1 id="title">Jennie Ruby</h1></div>
      <div class="col-sm nav-align">
        <a href="/"> <span class="button">Álbum</span> </a>
        <a href="/courses.html"> <span class="button">Faixas</span> </a>
        <a href="/contact.html"> <span class="button">Fale conosco</span> </a>
      </div>
    </div>

    <div class="container">
      <div class="col-sm-6"><img src="/capaRuby.jpg" alt="Capa Jennie Ruby" /></div>
      <div class="col-sm-6">
        <h1>A estreia!</h1>
        <p>Ruby é o álbum de estreia da cantora e rapper sul-coreana Jennie. Foi lançado no dia 
          7 de março de 2025, pelo selo Odd Atelier e Columbia Records.</p>
        <p>
          O álbum marca seu primeiro lançamento fora da YG Entertainment.
        </p>
        <p>
          Conte-nos o que achou do álbum.
          <a href="/contact.html">Envie aqui</a> suas opiniões sobre o novo disco da Jennie.
        </p>
      </div>
    </div>
  </body>
</html>
